/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body {
    min-width: 1380px;

    @include sp {
        min-width: inherit;
    }
}

.l-container {
    width: 1380px;
    margin: 0 auto;

    @include sp {
        width: auto;
    }
}