/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-navi {
    @include clear;
    $root: &;
    font-size: 1.4rem;
    text-align: right;
    position: relative;
    font-weight: bold;

    @include pc {
        display: block !important;
    }

    @include sp {
        background: rgba(0, 53, 102, 0.9);
        display: none;
        overflow: hidden;
        padding: 20px;
    }

    ul {
        display: inline-block;

        @include sp {
            padding-top: 17px;
        }
    }

    li {
        float: left;

        @include pc {
            &:hover {
                #{$root}__item {
                    &:before {
                        right: 0;
                    }
                }
            }
        }

        @include sp {
            display: block;
            width: 100%;
            text-align: left;
            margin-left: 0 !important;
            border-bottom: 1px solid #406c91;
        }
    }



    &__item {
        padding: 0 10px 22px;
        position: relative;
        color: #013568;

        @include sp {
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 10px 0;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 100%;
            height: 2px;
            background: #00a1e9;
            transition: .2s;
        }

        a {
            opacity: 1 !important;
            @include abf;
        }
    }

    &__child {
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(0, 53, 102, 0.9);
        display: none;

        @include sp {
            position: relative;
            display: block !important;
            background: none;
        }

        &__title {
            font-size: 1.4rem;
            text-align: left;
            padding: 30px 0;
            width: 1380px;
            margin: 0 auto;
            color: #fff;

            @include sp {
                display: none;
            }
        }

        .l-container {
            @include clear;
            padding-bottom: 30px;

            @include sp {
                padding: 0;
                padding-bottom: 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

            }

            div {
                width: 24.4%;
                float: left;
                margin-left: 0.8%;
                text-align: left;
                padding: 10px 0 10px 20px;
                position: relative;
                font-size: 1.2rem;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    border-right: 2px solid #7792ac;
                    border-top: 2px solid #7792ac;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    left: 0;
                    line-height: 1;
                    transition: .3s;

                    @include sp {
                        display: none;
                    }
                }

                @include pc {
                    transform: translateX(-60px);
                    transition: all .3s cubic-bezier(.12, .66, .25, 1) .1s;
                    opacity: 0;

                    &.active {
                        transform: translateX(0);
                        opacity: 1;
                    }

                    &:hover {
                        &:before {
                            left: 5px;
                        }
                    }
                }

                @include sp {
                    width: 50%;
                    float: none;
                    display: block;
                    padding: 6px 10px;
                    margin: 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    @include abf;

                    @include sp {
                        font-weight: normal;
                    }
                }

                &:nth-child(4n+1) {
                    margin-left: 0;
                }
            }
        }
    }
}